{% extends 'base.html.twig' %}
{% block body %}
    <section class="d-flex mt-5 mx-5 ">
        <div class="container ">
            <form action="{{ path('login') }}" method="post" class="mt-5 form-login-register">
                <h2 class="h2">Connectez-vous</h2>
                <div class=" w-50 p-3 mb-3">
                    <label for="email" class="form-label">Adresse Email</label>
                    <input type="text" id="email" name="_username" class="form-control p-2 border" required autofocus value="{{ last_username }}">
                </div>
                <div class="w-50 p-3 mb-3">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input type="password" id="password" name="_password" class="form-control p-2 border" required>
                    <div class="mt-3">
                        <a class="nav-item" style="margin-top: .5rem;" href="{{ path("forgotten") }}">Mot de passe oublié ?</a>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="w-25 p-3 mb-3">
                    <input class="btn btn-login px-3" name="submit" type="submit" value="Connexion"/>
                </div>
                {% if error %}
                    <div class="alert alert-danger mt-4 w-50">
                        {{ error.messageKey | trans(error.messagedata, 'security')}}
                    </div>
                {% endif %}
            </form>
        </div>
        <div class="container-fluid mt-5">
            <h2 class="h2 p-3 mb-3">Pas encore de compte ?</h2>
            <span class="p-3 mb-3"> Vous êtes étudiant et vous n'avez pas encore de compte sur la plateforme</span>
            <div class="w-50 p-3 mt-4">
                <a href="{{ path('registration') }}" class="btn btn-success px-3 rounded-pill">Accèder au formualire d'inscription</a>
            </div>
        </div>
    </section>
{% endblock %}
