{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="h1 mt-5 ">Inscription</h1>
        <p class="mt-5 mb-5 fs-5">
            Vous êtes étudiant et vous n'avez pas encore de compte sur la platforme ?
            Remplissez le formulaire ci-dessous afin d'obtenir vos identifiant de connexion.
            Vous recevrez par la suite un email avec des identifiants temporaires.
        </p>
    {{ form_start(form,{
        'attr': {
            'class': 'form-login-register'
        }
    }) }}
        {{ form_label(form.email) }}
        {{ form_widget(form.email,{
            'attr': {
                'class': 'form-control mt-2 mb-4 w-50'
            }
        }) }}
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first,{
            'attr': {
                'class': 'form-control mt-2 mb-4 w-50'
            }
        })}}
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second,{
            'attr': {
                'class': 'form-control mt-2 mb-4 w-50'
            }
        }) }}
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom,{
            'attr': {
                'class': 'form-control mt-2 mb-4 w-50'
            }
        }) }}
        {{ form_label(form.prenom) }}
        {{ form_widget(form.prenom,{
            'attr': {
                'class': 'form-control mt-2 mb-4 w-50'
            }
        }) }}
        {{ form_label(form.naissance) }}
        {{ form_widget(form.naissance,{
            'attr': {
                'class': 'form-control mt-2 mb-4 w-50'
            }
        }) }}
        {{ form_label(form.categorie) }}
        {{ form_widget(form.categorie,{
            'attr': {
                'class': 'form-control form-select mt-2 mb-4 w-50'
            }
        }) }}
        <div class="d-flex align-items-center">
            <button type="submit" class="btn btn-register">valider</button>
            <a href="{{ path("login") }}" class="ms-3">Vous avez déjà un compte ? Connectez-vous.</a>
        </div>
    {{ form_end(form) }}
    </div>
{% endblock %}