{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block meta_description %}{% endblock %}

{% block body %}
    <div class="header home-header">
        <span class="title home-title">Accueil</span>
        <p class="home-subtitle">Derniers événements</p>
    </div>
    <div class="body event-body">
        <div class="group group-element event-group-element">
            {% for event in events %}
                {% set nom = event.nom %}
                <div class="element event-element">
                    <div class="e-image ee-image">
                        <img class="image eei-image" src="{{ asset('media/images/featured/vignettes/' ~ event.vignette)  }}"
                             alt="{% trans %}La vignette de l'événement %nom%{% endtrans %}">
                    </div>
                    <div class="e-content ee-content">
                        <span class="titre ec-titre eec-titre">{{ nom|trim('.') }}</span>
                        <div class="subgroup ec-subgroup eec-subgroup">
                        <span class="date ecs-date eecs-date">
                            <i class="far fa-calendar-plus"></i>
                            {{ event.debut|date("m/d/Y") }}
                            {% if event.fin is not null %}
                                {{ event.fin|date("m/d/Y") }}
                            {% endif %}
                        </span>
                            <span class="ecs-category eecs-category">
                            {{ event.type.nom }}
                        </span>
                            <span class="ecs-sport eecs-sport">
                            {{ event.sport.nom }}
                        </span>
                        </div>
                        <p class="description ec-description eec-description">
                            {{ event.description }}
                        </p>
                        <a class="link ec-link eec-link" href="{{
                            path('single_event',
                                {'id': event.id})
                            }}">Voir l'événement >
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
