{% extends 'base.html.twig' %}

{% set template = 'evenement' %}
{% set type_template = 'archive' %}

{% block title %}Événement -{% endblock title %}

{% block body %}
<div class="head head-archive head-archive-event">
    <h1 class="title event-title">{{ eventCount }} événement{% if eventCount > 1 %}s{% endif %}</h1>
    {{ form_start(search_event_form) }}
    <div class="column">
        {{ form_row(search_event_form.categorie) }}
    </div>
    <div class="column">
        {{ form_row(search_event_form.sport) }}
    </div>
    <div class="column">
        {{ form_row(search_event_form.actif) }}
    </div>
    <div class="column">
        {{ form_row(search_event_form.send) }}
    </div>
    {{ form_end(search_event_form) }}
</div>
<div class="body event-body">
    <div class="group group-element event-group-element">
        {% for event in events %}
            {% set nom = event.nom %}
            <div class="element event-element">
                <div class="e-image ee-image">
                    <img class="image eei-image" src="{{ asset('media/images/featured/vignettes/' ~ event.vignette)  }}"
                         alt="{% trans %}La vignette de l'événement %nom%{% endtrans %}">
                </div>
                <div class="e-content ee-content">
                    <span class="titre ec-titre eec-titre">{{ nom|trim('.') }}</span>
                    <div class="subgroup ec-subgroup eec-subgroup">
                        <span class="date ecs-date eecs-date">
                            <i class="far fa-calendar-plus"></i>
                            {% set debut = event.debuterLe|date("m F Y") %}
                            {% set fin = event.finirLe|date("m F Y") %}
                            {{ debut }}
                            {% if debut != fin %}
                                au {{ fin }}
                            {% endif %}
                        </span>
                        <span class="ecs-registration eecs-registration">
                            <i class="fas fa-info-circle"></i>
                            {% set haveOne = [] %}
                            {% set nbrPlace = event.nombrePlaces %}
                            {% for insc in inscriptionCount %}
                                {% if insc.id == event.id %}
                                    {% if insc.1 == event.nombrePlaces %}
                                        {% trans %}Inscriptions terminées{% endtrans %}
                                    {% else%}
                                        {% set stringInscrit = insc.1 > 1 ? 'inscrits' : 'inscrit' %}
                                        {% set nbrInscrit = insc.1 %}
                                        {% trans %}
                                            %nbrInscrit% %stringInscrit% sur %nbrPlace%
                                        {% endtrans %}
                                    {% endif%}
                                    {% set haveOne = haveOne|merge([event.id]) %}
                                {% endif %}
                            {% endfor %}
                            {% if haveOne is not null and event.id not in haveOne %}
                                {% set stringPlace = nbrPlace > 1 ? 'places' : 'place' %}
                                {% trans %}%nbrPlace% %stringPlace% disponibles !{% endtrans %}
                            {% endif %}
                        </span>
                        <span class="ecs-category eecs-category">
                            {{ event.categorie.nom }}
                        </span>
                        <span class="ecs-sport eecs-sport">
                            {{ event.sport.nom }}
                        </span>
                    </div>
                    <p class="description ec-description eec-description">
                        {{ event.description }}
                    </p>
                    <a class="link ec-link eec-link"
                        href="{{
                            path(template ~ '_single',{'id': event.id}) }}"
                    >Voir l'événement >
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="footer footer-archive footer-archive-event">
    {{ knp_pagination_render(events) }}
</div>
{% endblock %}
