{% extends 'base.html.twig' %}

{% set template = 'evenement' %}
{% set type_template = 'single' %}
{% set nom = event.nom|trim('.') %}

{% block title %}{{ nom }} - Événement -{% endblock title %}

{% block body %}
    {{ initTemplate(template, type_template) }}
    <div class="{{ generateClass("head") }}">
        <h1 class="title title-single title-single-event">{{ nom }}</h1>
        <div class="subtitle subtitle-single subtitle-single-event">
            <div class="info-primary info-primary-single info-primary-single-event">
                <span class="date date-single date-single-event">
                <i class="far fa-calendar-plus"></i>
                {% set debut = event.debuterLe|date("m F Y") %}
                    {% set fin = event.finirLe|date("m F Y") %}
                    {{ debut }}
                    {% if debut != fin %}
                        au {{ fin }}
                    {% endif %}
            </span>
                <span class="{{ generateClass("registration") }}">
                <i class="fas fa-info-circle"></i>
                {% set haveOne = [] %}
                {% set completed = false %}
                {% set nbrPlace = event.nombrePlaces %}
                {% for insc in inscriptionCount %}
                    {% if insc.id == event.id %}
                        {% if insc.1 == event.nombrePlaces %}
                            {% trans %}Inscriptions terminées{% endtrans %}
                            {% set completed = true %}
                        {% else %}
                            {% set string = insc.1 > 1 ? 'inscriptions' : 'inscription' %}
                            {% set nbrInscrit = insc.1 %}
                            {% trans %}
                                %nbrInscrit% %string% sur %nbrPlace%
                            {% endtrans %}
                        {% endif %}
                        {% set haveOne = haveOne|merge([event.id]) %}
                    {% endif %}
                {% endfor %}
                {% if haveOne is not null and event.id not in haveOne %}
                    {% set stringPlace = nbrPlace > 1 ? 'places' : 'place' %}
                    {% trans %}%nbrPlace% %stringPlace% disponibles !{% endtrans %}
                {% endif %}
            </span>
            </div>
            <div class="info info-single info-single-event">
                <span><i>Sport</i> : {{ event.sport.nom }}</span>
                <span><i>Type d'événement</i> : {{ event.type.nom }}</span>
                <span><i>Catégorie</i> : {{ event.categorie.nom }}</span>
            </div>
        </div>
    </div>
    <div class="body body-single body-single-event">
        <img alt="{% trans %}La vignette de l'événement %nom%{% endtrans %}"
             class="image image-single image-single-event"
             src="{{ asset('media/images/featured/vignettes/' ~ event.vignette) }}"
        >
        <div class="description description-single description-single-event">
            <h2>Description</h2>
            <p>{{ event.description }}</p>
        </div>
        <div class="inscription inscription-single inscription-single-event">
            <h2>Inscription</h2>
            {# Création du champs description inscription sprint 3 #}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium cumque doloremque et
                illum ipsam minima pariatur perferendis quas voluptatem! At, atque, autem beatae commodi est eum
                excepturi magnam molestias omnis provident quia rem saepe sint suscipit unde vero voluptatum.</p>
        </div>
        <div class="document document-single document-single-event">
            {% set number = '' %}
            {% for count in documentCount %}
                {% if count.id == event.id %}
                    {% set number = count.1 %}
                {% endif %}
            {% endfor %}
            {% set string = number > 1 ? 'documents' : 'document' %}
            {% if number != '' %}
                <h2>{% trans %}%number% %string% à télécharger{% endtrans %}</h2>
                <div class="document-table document-table-single document-table-single-event">
                    <div class="document-row document-row-single document-row-single-event document-row-first odd">
                        <span nom class="name">Nom du document</span>
                        <span date class="date">Date d'ajout</span>
                        <span cat class="category">Catégorie</span>
                        <span poids class="weight">Poids</span>
                        <span action class="action">Action</span>
                    </div>
                    {% for key, document in documents %}
                        {% if document.evenement.id == event.id %}
                            {% set classes = key is odd ? 'odd' : 'even' %}
                            <div class="document-row document-row-single document-row-single-event {{ classes }}">
                                <span nom class="name">{{ document.nom }}</span>
                                <span date class="date">{{ document.creerLe|date("m F Y") }}</span>
                                <span cat class="category">{{ document.categorie.nom }}</span>
                                <span poids class="weight">A venir dans le sprint 4{# {{ document.poids }} #}</span>
                                <button action class="button button-single button-single-event button-telecharger">
                                    Télécharger
                                </button>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <h2>{% trans %}Aucun document à télécharger{% endtrans %}</h2>
            {% endif %}
        </div>
    </div>
    <div class="footer footer-single footer-single-event">
        <a class="back back-single back-single-event"
           href="{{ path(template) }}">{% trans %}< Retour aux événements{% endtrans %}</a>
        <a class="button button-single button-single-event button-inscription {{ hasRegister == false ?: "disabled" }}"
            href="
                {% if hasRegister == false or completed == true %}
                    {{ path(template ~ '_registration', {'id': event.id}) }}
                {% else %}
                    #
                {% endif %}"
        >Inscription
        </a>
        {% if hasRegister == true %}
            <span>Vous êtes bien inscrit à cet événement.</span>
        {% endif %}
    </div>
{% endblock body %}