<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="Language" content="fr"/>
    <title>{% block title %}{% endblock %} Association Sportive - Saint Vincent</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}"/>
    <meta name="keywords"
          content="association sportive, saint-vincent, Saint-Vincent, st-vincent{% block meta_keywords %}{% endblock %}">
    <link rel="canonical" href="{% block meta_canonical %}{% endblock %}"/>
    <meta http-equiv="content-type" content="text/html;"/>
    <meta charset="utf-8"/>
    <meta name="robots" content="{% block meta_robots %}{% endblock %}"/>
    <meta name="copyright" content="©Monteiro Gonçalves Boganin 2020"/>
    <meta name="publisher" content="Monteiro Gonçalves Boganin"/>
    <meta name="google" content="notranslate,nositelinkssearchbox"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset("media/favicon/apple-touch-icon.png") }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset("media/favicon/favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset("media/favicon/favicon-16x16.png") }}">
    <link rel="manifest" href="{{ asset("media/favicon/site.webmanifest") }}">
    <link rel="mask-icon" href="{{ asset("media/favicon/safari-pinned-tab.svg") }}" color="#de2364">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="theme-color" content="#ffffff">
    <!-- bootstrap -->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ asset('static/css/style.css') }}"/>
    <!-- google Font -->
    <!-- montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<header>
    <nav>
        <ul>
            <li class="nav">
                <ul>
                    <li>
                        <img class="logo" src="{{ asset("media/favicon/android-chrome-512x512.png") }}"
                             alt="Logo du site"/>
                    </li>
                    <li>
                        <a href="{{ path("home") }}">Accueil</a>
                    </li>
                    <li>
                        <a href="{{ path("evenement") }}">Événement</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path("admin") }}">Administration</a>
                        </li>
                        <li>
                            <a href="{{ path("statistique") }}">Statistique</a>
                        </li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li>
                            <a href="{{ path("profile", { 'id' : app.user.id }) }}">Profile</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
            {% if not app.user %}
                <li class="login">
                    <img src="{{ asset("media/images/users/attachment_121087384.jfif") }}"
                         alt="Utilisateur inconnu photo">
                    <a href="{{ path("login") }}">S'identifier</a>
                </li>
            {% else %}
                <li class="login">
                    <img src="{{ asset("media/images/users/attachment_121087384.jfif") }}"
                         alt="Utilisateur inconnu photo">
                    <a href="{{ path("logout") }}">Se déconnecter</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    {% block body %}{% endblock %}
</main>
<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Association Sportive Saint-Vincent</h2>
                <p>30 rue de Meaux,</p>
                <p>60300 Senlis</p>
                <h2>Association Saint-Vincent</h2>
                <a href="">https://www.lycee-stvincent.fr/</a>
            </div>
            <div class="col">
                <h2>Nous contacter</h2>
                <p>Tél : 03.66.66.66.66</p>
                <p>Fax : 03.66.66.66.66 </p>
                <a href="">Email : contact@lyceestvincent.fr</a>
                <a href="">Web : https://asso-sport.lyceestvincent.fr</a>
            </div>
            <div class="col">
                <h2>Accès rapide</h2>
                <p>> Accueil</p>
                <p>> Actualités</p>
                <p>> Evenements</p>
                <p>> Contact</p>
            </div>
            <div class="col">
                <h2>Suivez-nous</h2>
                <span>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook-f"></i>
                </span>
            </div>
        </div>
    </div>
    {# fontawesome kit's code #}
    <script async crossorigin="anonymous" src="https://kit.fontawesome.com/57b72ee719.js"></script>
    {# BootstrapJs #}
    <script async crossorigin="anonymous"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js">
    </script>
    {# ChartJS #}
    <script crossorigin="anonymous"
            integrity="sha512-RGbSeD/jDcZBWNsI1VCvdjcDULuSfWTtIva2ek5FtteXeSjLfXac4kqkDRHVGf1TwsXCAqPTF7/EYITD0/CTqw=="
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.0/chart.min.js">
    </script>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</footer>
</body>
</html>
