{% extends 'base.html.twig' %}

{% block body %}
    <div class="profil_container">
        <div class="profil_container_content">
            <img src="{{ asset('media/images/users/attachment_121087384.jfif') }}" alt="">
            <div class="profil_container_content_info">
                <h2>{{ user.nom }}</h2>
                <h3>{{ user.prenom }}</h3>
                <p>{{ user.naissance|date("m/d/Y") }}</p>
                <p>{{ user.categorie.nom }}</p>
            </div>
        </div>
        <div class="profil_container_form"></div>
    </div>
{% endblock %}
