{% extends 'base.html.twig' %}

{% set template = 'evenement' %}

{% block body %}
    <div class="profil_container">
        <div class="profil_container_content">
            <img src="{{ asset('media/images/users/attachment_121087384.jfif') }}" alt="">
            <div class="profil_container_content_info">
                <h2>{{ user.nom }} <button data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-wrench"></i></button></h2>
                <h3>{{ user.prenom }}</h3>
                <p>{{ user.naissance|date("m/d/Y") }}</p>
                <p>{{ user.categorie.nom }}</p>
            </div>
        </div>
        <div class="profil_container_event">
            <h2>Vos événement :</h2>
            {% for inscription in inscriptions %}
                <span>
                    <img class="image" src="{{ asset('media/images/featured/vignettes/' ~ inscription.evenement.vignette) }}">
                    <div class="content">
                        <p> {{ inscription.evenement.nom }}</p>
                        <p> {{ inscription.evenement.debuterLe|date("m/d/Y")}}</p>
                        <p> {{ inscription.evenement.description }}</p>
                         <a class="link ec-link eec-link"
                            href="{{
                            path(template ~ '_single',{'id': inscription.evenement.id}) }}"
                         >Voir l'événement >
                    </a>
                    </div>
                </span>
            {% endfor %}
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
